{% extends 'base.html' %}
{% load static %}


{% block content %}
<div id="main-menu" class="container">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img" src="{% static 'mainpage/img/journal-card.webp' %}" alt="">
                    <div class="card-body text-light">
                        <h4 class="card-title">A história até agora...</h4>
                        <p class="card-text">Saiba mais um pouco sobre a aventura dos Guerreiros do amanhã!</p>
                        <a class="btn btn-outline-light" href="">Descubra.</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" style="height:295px;" src="{% static 'mainpage/img/otari.jpg' %}" alt="">
                    <div class="card-body text-light">
                        <h4 class="card-title">Lugares visitados</h4>
                        <p class="card-text">Conheça os lugares que nossos heróis conheceram em sua jornada!</p>
                        <a class="btn btn-outline-light" href="">Imagine.</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img" src="{% static 'mainpage/img/card-image03.webp' %}" alt="">
                    <div class="card-body text-light">
                        <h4 class="card-title">Pessoas conhecidas</h4>
                        <p class="card-text">Descubra quem são os diversos personagens da aventura!</p>
                        <a class="btn btn-outline-light" href="">Conheça.</a>
                    </div>
                </div>
                <div class="container pt-4">
                    <div class="jumbotron jumbotron-fluid rounded text-center text-light">
                        <div id="jumbotron-center" class="container rounded pt-4 pb-4">
                            <h1 class="display 4">Livros e mais!</h1>
                            <a href="https://drive.google.com/drive/folders/1wBrwZLbBx1DLsgCs-HW-MciaEFhDiYMe?usp=sharing" target="_blank" class="lead btn btn-outline-light">Acesse aqui para baixar os conteúdos desta aventura!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
